<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ./partials/templates/head.ejs %>
</head>

<body class="body-style">
    <div id="react"></div>
    <% include ./partials/templates/jsDefaults.ejs %>
</body>
</html>
