html {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}
.game-style {
    width: 650px;
    height: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 330px;
    height: 333px;
    padding-top: 40px;
    margin: 0 0 0 130px;
}

.grid-item {
    background-color: #73FCD6;
    border: 5px solid #fff;
    font-size: 24px;
    padding-top: 2px;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    width: 100px;
    position: relative;
}

.grid-item:nth-child(1), .grid-item:nth-child(2),.grid-item:nth-child(3) {
    border-top: 6px solid #73FCD6;
}
.grid-item:nth-child(1), .grid-item:nth-child(4),.grid-item:nth-child(7)  {
    border-left: 6px solid #73FCD6;
}
.grid-item:nth-child(7), .grid-item:nth-child(8),.grid-item:nth-child(9)  {
    border-bottom: 6px solid #73FCD6;
}
.grid-item:nth-child(3), .grid-item:nth-child(6),.grid-item:nth-child(9)  {
    border-right: 6px solid #73FCD6;
}

.restart-button{
    background-color: #fff;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    max-height: 36px;
    max-width: 141.19px;
    color: #73FCD6;
    margin: 60px 0 0 224px;
}

.back-button{
    padding-bottom: 0px!important;
}
