<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/templates/head.ejs %>
</head>

<body class="body-style">
    <div id="greeting" style="color:white; display: none;">Hello <%= name%>, <%= date%></div>
    <div id="react"></div>
    <div id="dialog" ></div>
    <% include ./partials/templates/jsDefaults.ejs %>
    <script>
        $(document).ready(function() {
            //initGame();
        });
    </script>
</body>
</html>
