<!DOCTYPE html>
<html>
<head>
    <% include ./partials/templates/headers.ejs %>
</head>
<body>
    <div id="react"></div>



</body>
<% include ./partials/templates/jsDefaults.ejs %>

<script>
    $(document).ready(function() {
    });
</script>
</html>
